<div class="card p-6">
  <p-table
      [value]="dataF"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template #header>
          <tr>
              <th style="width:25%">FECHA REGISTRO</th>
              <th style="width:25%">AREA</th>
              <th style="width:25%">CANTIDAD</th>
              <th style="width:25%">TURNO</th>
          </tr>
      </ng-template>
      <ng-template #body let-customer>
          <tr>
              <td>{{ customer.fecha_registro }}</td>
              <td>{{ customer.area}}</td>
              <td>{{ customer.nrformatos }}</td>
              <td>{{ customer.turno }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
