<div class="card p-6">
    <div class="grid justify-content-center gap-8">
        <div class="col-12">
            <p-card>
                <div class="flex justify-content-between ">
                    <p class="m-0 font-bold">LISTA DE FORMATOS</p>  <p-button label="Regresar" icon="pi pi-arrow-circle-left" severity="secondary" (onClick)="Regresar()" />

                </div>
            </p-card>
        </div>
    </div>
  <p-table
      [value]="dataF"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [scrollable]="true" 
      scrollHeight="500px"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template #header>
          <tr>
              <th style="width:10%">TRIAJE</th>
              <th style="width:15%">RANGO</th>
              <th style="width:10%">CANTIDAD</th>
              <th style="width:10%">TURNO</th>
              <th style="width:15%">DESCRIPCION</th>
              <th style="width:15%">FECHA REGISTRO</th>
          </tr>
      </ng-template>
      <ng-template #body let-customer>
          <tr>
              <td>{{ customer.area}}</td>
              <td>{{ customer.nroInicio }}- {{customer.nrFinal}}</td>
              <td>{{ customer.total }}</td>
              <td>{{ customer.turno }}</td>
              <td>{{ customer.description }}</td>
              <td>{{ customer.fecha_registro }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
