<div class="card p-6">
    <div class="grid justify-content-center  gap-8">
        <div class="col-12">
            <p-card header="LISTA DE FORMATOS">
                <!-- <p class="m-0">En esta sección usted seleccionara las opciones disponibles aqui</p> -->
            </p-card>
        </div>
    </div>
  <p-table
      [value]="dataF"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template #header>
          <tr>
              <th style="width:25%">AREA</th>
              <th style="width:25%">RANGO</th>
              <th style="width:25%">CANTIDAD</th>
              <th style="width:25%">TURNO</th>
              <th style="width:25%">FECHA REGISTRO</th>
          </tr>
      </ng-template>
      <ng-template #body let-customer>
          <tr>
              <td>{{ customer.area}}</td>
              <td>{{ customer.nroInicio }}- {{customer.nrFinal}}</td>
              <td>{{ customer.total }}</td>
              <td>{{ customer.turno }}</td>
              <td>{{ customer.fecha_registro }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
