<div class="p-6">
    <div class="grid justify-content-center  gap-8">
        <div class="col-12">
            <p-card header="FORMATOS">
                <p class="m-0">En esta sección podrá registrar los formatos a distribuir en distintos triajes y visualizar los registros realizados.</p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card  styleClass="hover:bg-blue-400 hover:text-200 cursor-pointer" (click)="redireccionar(1)">
                <p class="m-0 h-9rem flex justify-content-center gap-2 align-items-center flex-column">
                    <i class="pi pi-save text-6xl"></i>
                    <span class="text-center"> Registro de formatos</span>
                    
                </p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card styleClass="hover:bg-blue-400 hover:text-200 cursor-pointer" (click)="redireccionar(2)">
                <p class="m-0 h-9rem flex justify-content-center align-content-center gap-2 align-items-center flex-column">
                    <i class="pi pi-book text-6xl"></i>
                    <span class="text-center">Lista de Registros</span>  
                </p>
            </p-card>

        </div>
    </div>

</div>