<div class="card p-6">
  <div class="grid justify-content-center  gap-4">
      <div class="col-12">
          <p-card>
              <div class="flex justify-content-between ">
                  <p class="m-0 font-bold">Formatos Detallados</p>  <p-button label="Regresar" icon="pi pi-arrow-circle-left" severity="secondary" (onClick)="Regresar()" />

              </div>
          </p-card>
      </div>
      <div class="col-12 gap-1">
        <p-card class="P-0 M-0">
          <form [formGroup]="formGroup">
            <div class="flex flex-column  gap-2 align-items-start">
                <p class="m-0 font-bold">FILTRO POR FECHAS</p>  
                <div class="flex gap-3 ">
                  <p-floatlabel variant="in">
                    <p-datepicker [(ngModel)]="fechaInicio" formControlName="date" dateFormat="dd/mm/yy"   size="small"/>
                    <label for="over_label">FECHA INICIO</label>
                  </p-floatlabel>
                  <p-floatlabel variant="in">
                    
                    <p-datepicker [(ngModel)]="fechaFin" formControlName="date2" />
                    <label for="over_label">FECHA FIN</label>
                  </p-floatlabel>
                </div>
              </div>
          </form>
        </p-card>
    </div>
      <div class="col-12 gap-2">

        @for (taba of lista; track taba.id_areas) {
          <p-card class="m-2">
            <div class="flex justify-content-between ">
                <p class="m-0 font-bold">{{taba.name}}</p>  
                <div class="flex gap-2">

                  <p-button icon="pi pi-angle-down" severity="secondary" (onClick)="abriDetalle(taba.id_areas, 1)"/>
                </div>
                
              </div>
              <!-- <div class="grid justify-content-center">
                @if(visualizacion[taba.id_areas!]){
                  <p-table *ngIf="data && data.length > 0" [value]="data" class="col-6" [tableStyle]="{ 'min-width': '28rem' }"
                  [scrollable]="true" 
                  scrollHeight="400px">>
                    <ng-template #header>
                        <tr>
                            <th>#</th>
                            <th>NRO FORMATO</th>
                            <th>REVISION</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-data let-i="index">
                        <tr>
                          <td>{{ i + 1 }}</td> 
                            <td [ngClass]="{
                              'text-orange-500': data.id_status === 1, 
                              'text-green-400': data.id_status === 2
                            }">{{ data.formats_models }}</td>
                            <td><i  [ngClass]="{
                              'pi': true,
                              'pi-hourglass': data.id_status == 1 || data.id_status != 2, 
                              'pi-check': data.id_status == 2,
                              'text-orange-500': data.id_status === 1,
                              'text-green-400': data.id_status === 2
                            }"
                             (click)="actualizarEstado(data.id_formats_details)"></i></td>
                        </tr>
                    </ng-template>
                </p-table>
                <p *ngIf="!data || data.length === 0" class="text-center text-muted">
                  No hay datos disponibles.
                </p>
  
                }

              </div> -->
              <div class="grid justify-content-start">
                @if(visualizacion[taba.id_areas!]) {
                  <div class="card">
                    <p-table
                        #dt
                        [value]="data"
                        
                        dataKey="id"
                        [rowHover]="true"
                        [rows]="10"
                        [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [paginator]="true"
                        currentPageReportTemplate="Mostrando resultados de {first} a {last} de {totalRecords} encontrados"
                        [filterDelay]="0"
                        [globalFilterFields]="['formatos', 'estado', 'orden']"
                    >
                        <ng-template #caption>
                            <div class="flex justify-between">
                              <p-iconField iconPosition="left">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                    
                                  </p-inputIcon>
                                  <input pInputText #filterInput  type="text" (input)="applyFilter(filterInput.value)" placeholder="Keyboard Search" />
                            </p-iconField>
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <tr>
                              <th pSortableColumn="orden" style="min-width: 1rem">
                                <div class="flex justify-between items-center">
                                    ORDEN
                                    <!-- <p-sortIcon field="orden" /> -->
                                </div>
                            </th>
                                <th pSortableColumn="formatos" style="min-width: 14rem">
                                    <div class="flex justify-between items-center">
                                        NOMBRE
                                        <!-- <p-sortIcon field="formatos" /> -->
                                        
                                    </div>
                                </th>
                                <th pSortableColumn="estado" style="min-width: 14rem">
                                  <div class="flex justify-between items-center">
                                      ESTADO
                                      <!-- <p-sortIcon field="estado" />
                                      <p-columnFilter type="text" field="estado" display="menu" class="ml-auto" /> -->
                                  </div>
                              </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-data let-i="rowIndex">
                            <tr class="p-selectable-row">
                                  <td>{{ i + 1 }}</td> 
                                <td>{{data.formatos}}</td>
                                <td>{{data.estado}}</td>
                               
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="8">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>



                  <!-- <p-table *ngIf="data && data.length > 0" [value]="data" class="col-6" 
                    [tableStyle]="{ 'min-width': '28rem' }" [scrollable]="true" scrollHeight="400px">
              
                    <ng-template pTemplate="header">
                      <tr>
                        <th>#</th>
                        <th>NRO FORMATO</th>
                        <th>REVISION</th>
                      </tr>
                    </ng-template>
              
                    <ng-template pTemplate="body" let-data let-i="rowIndex">
                      <tr>
                        <td>{{ i + 1 }}</td> 
                        <td [ngClass]="{
                          'text-orange-500': data.id_status === 2, 
                          'text-green-400': data.id_status === 1
                        }">{{ data.formatos }}</td>
                        <td [ngClass]="{
                          'text-orange-500': data.id_status === 2,
                          'text-green-400': data.id_status === 1
                        }" >{{data.estado}}
                        </td>
                      </tr>
                    </ng-template>
                    
                  </p-table> -->
              
                  <!-- <p *ngIf="!data || data.length === 0" class="text-center text-muted">
                    No hay datos disponibles.
                  </p> -->
                }
              </div>
            </p-card>

        }
    </div>
  </div>
</div>