<div class="p-6">
  <div class="surface-card p-5 shadow-2 border-round flex-auto">
    <div class="text-900 font-semibold text-lg mt-3">REGISTRO</div>
    <p-divider class="p-element">
      <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
        <div class="p-divider-content"></div>
      </div>
    </p-divider>
    <!-- <div class="flex gap-5 flex-column-reverse md:flex-row">
      <div class="flex-auto flex gap-4 justify-content-between p-fluid">
        <div class="mb-4">
          <label for="email" class="block font-medium text-900 mb-2">NRO DE FORMATO</label>
          <input id="email" type="text" pInputText class="p-inputtext p-component p-element">
        </div>
        <div class="mb-4">
          <label for="email" class="block font-medium text-900 mb-2">CANTIDAD DE FORMATOS</label>
          <input id="email" type="text" pInputText class="p-inputtext p-component p-element">
        </div>
        <div class="mb-4">
          <label for="email" class="block font-medium text-900 mb-2">TURNO</label>
          <div class="card flex justify-center">
              <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="SELECCIONE TURNO" class="w-full md:w-56" />
          </div>
        </div>
        <div class="mb-4">
          <label for="email" class="block font-medium text-900 mb-2">CANTIDAD DE FORMATOS</label>
          <input id="email" type="text" pInputText class="p-inputtext p-component p-element">
        </div>
      </div>
      <div class="grid">
        <div class="mb-4">
          <label for="email" class="block font-medium text-900 mb-2">CANTIDAD </label>
          <input id="email" type="text" pInputText class="p-inputtext p-component p-element">
        </div>
      </div>
    </div> -->


    <form [formGroup]="formulario" class="formgrid grid">
      <div class="field col-12 md:col-3">
          <label for="zip">NRO DE FORMATO</label>
          <input id="zip" type="text" formControlName="nroFormato" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12 lg:col-2 md:col-6 sm: col-6">
        <label for="city">CANTIDAD DE FORMATOS</label>
        <input id="city" type="text"  formControlName="cantidad"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 lg:col-4 md:col-12 sm:col-4">
      <label for="state">TURNO</label>
      
      <p-select [options]="turnos" optionLabel="name" optionValue="id_turn" formControlName="turno" [style]="{'padding': '6px !import'}" placeholder="SELECCIONE TURNO" class="w-full md:w-56" />
    </div>
    <div class="field col-12 lg:col-3 md:col-12 sm:col-4">
      <label for="state">AREA</label>
      
      <p-select [options]="areas" optionLabel="name" optionValue="id_areas" formControlName="area" [style]="{'padding': '6px !import'}" placeholder="SELECCIONE TURNO" class="w-full md:w-56" />
    </div>
    <div class="field col-12">
      <label for="address">DESCRIPCION</label>
      <textarea id="address" type="text" rows="4" formControlName="descripcion" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
    </div>
    <div class="field col-4">
      <button pButton label="GUARDAR" (click)="Registrar()" icon="pi pi-save"></button>
    </div>
  </form>
  </div>
</div>
<p-toast></p-toast>