<div class="p-6">
  <div class="surface-card p-5 shadow-2 border-round flex-auto">
    <div class="flex flex-row justify-content-between align-items-center">
      <div class="text-900 font-semibold text-lg mt-3">REGISTRO</div>
      <p-button label="Regresar" icon="pi pi-arrow-circle-left" severity="secondary" (onClick)="Regresar()" />

    </div>
    <p-divider class="p-element">
      <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
        <div class="p-divider-content"></div>
      </div>
    </p-divider>
    <form [formGroup]="formulario" class="formgrid grid">
      <div class="field col-12 md:col-3">
          <label for="zip">NRO DE FORMATO</label>
          <input pInputText  id="zip" type="text" formControlName="nroFormato"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12 lg:col-2 md:col-6 sm: col-6">
        <label for="city">CANTIDAD DE FORMATOS</label>
        <input pInputText id="city" type="text"  formControlName="cantidad"  pSize="large" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 lg:col-4 md:col-12 sm:col-4">
      <label for="state">TURNO</label>
      
      <p-select [options]="turnos" optionLabel="name" optionValue="id_turn" formControlName="turno" [style]="{'padding': '6px !import'}" placeholder="SELECCIONE TURNO" class="w-full md:w-56" />
    </div>
    <div class="field col-12 lg:col-3 md:col-12 sm:col-4">
      <label for="state">TRIAJES</label>
      
      <p-select [options]="areas" optionLabel="name" optionValue="id_areas" formControlName="area" [style]="{'padding': '6px !import'}" placeholder="SELECCIONE LOS TRIAJES" class="w-full md:w-56" />
    </div>
    <div class="field col-12">
      <label for="address">DESCRIPCION</label>
      <textarea id="address" type="text" rows="4" formControlName="descripcion" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
    </div>
    <div class="field col-4">
      <button pButton label="GUARDAR" (click)="Registrar()" icon="pi pi-save"></button>
    </div>
  </form>
  </div>
</div>
<p-toast></p-toast>