.background {
    background: url('/imagenes/app-login.jpeg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
