<div class="card p-6">
  <div class="grid justify-content-center gap-2">
    <div class="col-12">
      <p-card>
        <div class="flex justify-content-between">
          <p class="m-0 font-bold">TOTALES POR TRIAJE</p>
          <p-button
            label="Regresar"
            icon="pi pi-arrow-circle-left"
            severity="secondary"
            (onClick)="Regresar()"
          />
        </div>
      </p-card>
    </div>
    <div class="grid w-full" style="overflow-y: scroll; height: 650px">
      <div class="col-12">
        @for (item of _total; track $index) {
        <p-button
          [label]="item.name.toUpperCase()"
          [text]="true"
          badgeSeverity="contrast"
          variant="outlined"
          [raised]="true"
          severity="info"
          styleClass="w-full flex py-3 my-4 justify-content-between"
          [badge]="item.totales.toString()"
          badgeSeverity="danger"
        />
        }
      </div>
    </div>
  </div>
</div>
