<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 ">
      <div class="p-3 text-center bg-blue-500" style="border-radius: 12px;">
        <div class="text-2xl font-medium text-white mb-2 p-6">Bienvenido a Centro America</div>
  </div>
</div>

<div class="surface-ground px-1 py-5 md:px-6 lg:px-4 w-6">
  <div class="grid gap-2">
      <div class="col-10">
        <span class="font-bold">SERVICIOS</span>
      </div>
      <div class="card " style="position: absolute; width: 77rem;" >
          <p-tabs value="0" scrollable >
              <p-tablist style="width: 77rem;">
                  <p-tab value="0">
                      <span class="font-bold whitespace-nowrap">  MEDICINA GENERAL</span>
                  </p-tab>
                  <p-tab value="1">
                      <span class="font-bold whitespace-nowrap"> OBSTETRICIA</span>
                  </p-tab>
                  <p-tab value="2">
                      <span class="font-bold whitespace-nowrap"> LABORATORIO</span>
                  </p-tab>
                  <p-tab value="3">
                      <span class="font-bold whitespace-nowrap">CONTROL DE NIÑO </span></p-tab>
                  <p-tab value="4">
                    <span class="font-bold whitespace-nowrap">FARMACIA</span>
                  </p-tab>
                  <p-tab value="5">
                    <span class="font-bold whitespace-nowrap"> TBC</span>
                  </p-tab>
                  <p-tab value="6">
                    <span class="font-bold whitespace-nowrap"> DENGUE</span>
                  </p-tab>
                  <p-tab value="7">
                    <span class="font-bold whitespace-nowrap"> ECOGRAFIA</span>
                  </p-tab>
                  <p-tab value="8">
                    <span class="font-bold whitespace-nowrap">ADMISION</span>
                  </p-tab>
                  <p-tab value="9">
                    <span class="font-bold whitespace-nowrap"> CAJA</span>
                  </p-tab>
        
              </p-tablist>
              <p-tabpanels>
                  <p-tabpanel value="0">
                      <p class="m-0 pt-5">
                        Como establecimiento categoría I-3 no contamos con especialistas
                        asignados. Las principales finalidades de la atención médica son:
                        
                      </p>
                      <ul class="px-5">
                        <li>Prevenir enfermedades a través de medidas sanitarias que fortalezcan el sistema
                          inmune de los pacientes.
                        </li>
                        <li>Diagnosticar a tiempo condiciones graves de salud para que las personas reciban el
                          tratamiento oportuno para recuperarse.
                        </li>
                        <li>Mantener y promover la salud de los pacientes a través de información médica.
                        </li>
                        <li>Tratar enfermedades con medicamentos de calidad y/o procedimientos
                          quirúrgicos realizados por personal capacitado.
                        </li>
                        <li>Brindarles una mejor calidad de vida a los pacientes en estado terminal.
                        </li>
                      </ul> 
                  </p-tabpanel>
                  <p-tabpanel value="1">
                      <p class="m-0 p-5">
                        Las funciones obstétricas y neonatales son actividades relacionadas con la
                        identificación, atención, seguimiento y cuidado del proceso de gestación, parto,
                        puerperio, atención preconcepcional, prevención de cáncer de cuello uterino, atención del
                        recién nacido, planificación familiar, recalcar que no contamos con especialista
                        ginecoobstetra. 
                      </p>
                  </p-tabpanel>
                  <p-tabpanel value="2">
                    <p class="m-0 p-5">
                      Las actividades incluyen la recolección de las muestras, el procesamiento,
                      el análisis y la presentación de informes de acuerdo a necesidad de establecimiento. Los
                      procesos mas complejos y por falta de insumos y aparatos biomédicos avanzados se
                      envían las muestras a otro establecimiento de mayor capacidad.
                    </p>
                  </p-tabpanel>
                  <p-tabpanel value="3">
                    <p class="m-0 pt-5">
                      Los primeros años de vida de los seres humanos son muy importantes
                      para potenciar su crecimiento y desarrollo. El profesional de salud en este caso las
                      Licenciadas de Enfermería realiza las siguientes evaluaciones y actividades:
                      
                    </p>
                    <ul class="px-5">
                      <li>Evalúa el peso y talla de tu bebé, niño o niña.</li>
                      <li>Evalúa sus habilidades psicomotoras.</li>
                      <li>Vacuna al bebé, niño o niña, según el esquema vigente. </li>
                      <li>Entrega suplementos de hierro (gotas o jarabe, según la edad).</li>
                      <li>Brinda consejería para el cuidado adecuado del menor.</li>
                      <li>Descarta enfermedades como la anemia y la parasitosis.</li>
                    </ul> 
                  </p-tabpanel>
                  <p-tabpanel value="4">
                    <p class="m-0 p-5">
                      Colaborar en las actividades y programas dirigidos a mejorar el uso de
                      medicamentos y otros productos farmacéuticos: Entrega y selección de medicamentos y
                      otros productos farmacéuticos, guías y protocolos farmacoterapéuticos y revisiones
                      farmacoterapéuticas.
                    </p>
                  </p-tabpanel>
                  <p-tabpanel value="5">
                    <p class="m-0 p-5">
                      Contribuir en la lucha contra la tuberculosis, participando en la cobertura de la
                      detección, el seguimiento del tratamiento y la calidad del cuidado en la atención de los
                      pacientes. Promoción de la salud Prevención de TB (vacunas, medidas de bioseguridad y
                      control de infecciones, entre otras.) Cuidado integral al paciente y familia en TB, TB-MDR,
                      VIH-TB, gestante, poblaciones vulnerables. Educación sanitaria a paciente, familia y
                      comunidad. Participación en elaboración de políticas
                    </p>
                  </p-tabpanel>
                  <p-tabpanel value="6">
                    <p class="m-0 p-5">
                      Cumplir los lineamientos de la vigilancia virológica del dengue. Garantizar la
                      confirmación del 100% de casos de dengue grave (suero) y fatales (tejidos y suero) con la
                      toma de muestras. Implementar el monitoreo mensual de los indicadores de la vigilancia
                      del dengue (basándose en el protocolo de vigilancia)
                      
                    </p>
                  </p-tabpanel>
                  <p-tabpanel value="7">
                    <p class="m-0 p-5">
                      : La ecografía es un procedimiento que permite obtener imágenes de muchas
                      de las estructuras de nuestro organismo a través de ondas de ultra frecuencia. Previa
                      orden que realiza el medico
                    </p>
                  </p-tabpanel>
                  <p-tabpanel value="8">
                    <p class="m-0 p-5">
                      Se encarga de la custodia, revisión y disposición de las historias clínicas de los
                      pacientes previamente ya registrados para sus atenciones posteriores
                    </p>
                  </p-tabpanel>
                  <p-tabpanel value="9">
                    <p class="m-0 p-5">
                        Se encarga de la creación y documentación de las historias clínicas de pacientes
                        nuevos además de recaudar fondos para abastecer de insumos y materiales que necesite
                        el establecimiento para cumplir con al menos los mínimos estándares de atención.
                    </p>
                  </p-tabpanel>
              </p-tabpanels>
          </p-tabs>

      </div>
      </div>
  </div>
</div>