<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <label for="file">Selecciona un archivo Excel:</label>
  <input type="file" id="file" (change)="onFileChange($event)" />
  <button type="submit">Cargar</button>
</form>

<!-- Tabla para mostrar los datos importados
<table *ngIf="excelData.length > 0">
  <thead>
    <tr>
      <th *ngFor="let column of excelData[0]">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of excelData.slice(1)">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </tbody>
</table> -->
