<div class=" card p-6">
  <div class="grid justify-content-center  gap-8">
    <div class="col-12">
        <p-card header="CONTROL DE FORMATOS">
            <!-- <p class="m-0">En esta sección usted seleccionara las opciones disponibles aqui</p> -->
        </p-card>
    </div>
    <div class="col-3">
        <p-card  styleClass="hover:bg-blue-400 hover:text-200 cursor-pointer" (click)="redireccionar(1)">
            <p class="m-0 h-6rem flex justify-content-center gap-2 align-items-center flex-column">
                <i class="pi pi-save text-5xl"></i>
                <span>
              Formatos detallados
                </span>
                
            </p>
        </p-card>
    </div>
    <div class="col-3">
        <p-card styleClass="hover:bg-blue-400 hover:text-200 cursor-pointer" (click)="redireccionar(2)">
            <p class="m-0 h-6rem flex justify-content-center gap-2 align-items-center flex-column">
                <i class="pi pi-book text-5xl"></i>
                <span>
                    Total por Triajes</span>
                
            </p>
        </p-card>
    </div>
    <div class="col-3">
        <p-card styleClass="hover:bg-blue-400 hover:text-200 cursor-pointer" (click)="redireccionar(3)">
            <p class="m-0 h-6rem flex justify-content-center gap-2 align-items-center flex-column">
                <i class="pi pi-file-excel text-5xl"></i>
                <span>Comparacion de Formatos</span>
                
            </p>
        </p-card>
    </div>
</div>

</div>