<div class="p-6">
  <div class="grid justify-content-center  gap-2">
    <div class="col-12">
        <p-card >
          <div class="flex justify-content-between">
            <p class="m-0 font-bold">Comparacion de Formatos</p>
            <p-button
              label="Regresar"
              icon="pi pi-arrow-circle-left"
              severity="secondary"
              (onClick)="Regresar()"
            />
          </div>
        </p-card>
    </div>
    

<p-fileupload name="myfile[]"  [multiple]="false" accept=".xlsx, .xls" maxFileSize="1000000" (onSelect)="onFileChange($event)" class="col-12  max-h-full md:max-h-full" styleClass="max-h-full md:max-h-full" >
    <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
        <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
            <div class="flex gap-2">
                
                <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-cloud-upload" [rounded]="true" label="Importar"  [outlined]="true" />
                <p-button (onClick)="clearCallback();limpia();" icon="pi pi-times" [rounded]="true" [outlined]="true" label="Limpiar"  severity="danger" [disabled]="!files || files.length === 0" />
            </div>
        </div>
    </ng-template>
    <!-- <ng-template #content class="flex  justify-content-center align-items-center" let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
      
    </ng-template> -->
    <ng-template #file>
      <span>Resultado de comparación: <span class="text-orange-400">{{totalResultado}}</span> registros encontrados</span>
      <div class="grid gap-4">
        <div class="col-7">
          @if(totalResultado > 0){
            <button  pButton (click)="exportToExcel()">📤 Exportar a Excel</button>
          }
          @for ( itm of uniqueAreas; track itm) {
            <p-button [label]="itm.area.toUpperCase()" variant="text" [raised]="true" severity="warn" styleClass="w-full flex py-3 my-4 justify-content-between" [badge]="itm.count.toString()" badgeSeverity="danger" (onClick)="mostarDetallesPenientes(itm.area)"/>
          }
        </div>
        <div class="col-4 flex flex-column justify-content-center align-items-center">
          @if(mostrarResultados){
            <div class="col-10 ">
              <div class="flex pl-5">
                <p-button icon=" pi pi-verified" label="Registrar como pendiente" styleClass="pl-3" (click)="irAgregar(selectedArea!)"></p-button>

              </div>
              <!-- <button pButton ></button> -->
            </div>
            <p-scrollPanel [style]="{ height: '500px'}" class="gap-2">
              <div class="flex flex-column justify-content-center align-items-start">
                @for(i of listaDetallesArea; track i.formats_models) {
                  <p>Nro: {{ i.formats_models }} - Area: {{ i.area }} </p>
                }
  
              </div>

            </p-scrollPanel>
            <!-- <div class="resultado-list">
            </div> -->
          }
          @else{
           <span>Sin resultados</span>

          }
        </div>
      </div>
    </ng-template>
    <ng-template #empty >
        <div class="flex items-center align-items-center justify-content-center justify-center flex-column py-8">
            <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color text-7xl"></i>
            <p class="mt-6 mb-0">No se encuentra resultados. Debe importar registro de comparacion </p>
        </div>
    </ng-template>
</p-fileupload>

    </div>
</div>
<p-toast></p-toast>
<p-toast key="confirm1"></p-toast>
<p-toast key="confirm2"></p-toast>