::ng-host .p-scrollpanel-bar {
  background-color: #6200ea; /* Color del scroll */
  border-radius: 10px;
  width: 6px; /* Grosor del scroll */
}

::ng-host .p-scrollpanel-content {
  padding-right: 10px;
}
